.greeting {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 40px;
  background-color: white;
  border-color: #6B8CFF;
  border-width: 1px;
  border-radius: 20px;
  border-style: solid;
  box-sizing: border-box;
  margin: 20px 0;
}

.greeting p {
  font-size: 18;
  color: #313131;
}