.hour-group{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 85px;
}

.hour-group span {
    margin-bottom: 10px;
}

.hour-group button {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: white;
    border: none;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    font-weight: 500;
    color: #505050;
    font-size: 24px;
    margin: 5px 0px;

    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;
} 

.hour-group button img {
    width: 20px;
    height: 20px;
}