.page-background {
    background-color: #B7B7B7;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.page-container {
    display: flex;
    background-color: white;
    height: 100%;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    @media (min-width: 700px) {
        height: 90%;
        width: 700px;
        border-radius: 20px;
    }
}

.menu-container {
    flex-grow: 0;
    padding: 0 !important;
    @media (min-width: 700px){
        display: none;
    }
}

.header-content {
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.header-content > div> input {
    border: none;
    margin-left: 5px;
    font-size: 16px;
    color: #313131;
    width: 90%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.header-content > div> input:first-child {
    font-size: 18px !important;
}

.header-content > div> input:focus {
    outline: none;
}


.header-content > div:last-child{
    width: 100%;
    flex-grow: 1;
    padding: 10px;
    box-sizing: border-box;
    background-color: #f0f0f0;
    border-radius: 20px;

    overflow: scroll;
}

.header-content >div:last-child::-webkit-scrollbar {
    width: 0px;
}

.modal-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(2px);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.25);
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    width: 220px;
    background-color:white;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    border: none;
    border-radius: 5px;
}

.modal > div {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal > p {
    margin: 5px 0px;
    font-size: 18px;
    color: #313131;
}

.modal > div > p {
    margin: 0px 10px;
    font-size: 16px;
    color: #313131;
}

.modal > div > span {
    margin: 3px 5px;
    font-size: 16px;
    color: #313131;
}

.modal button {
    font-size: 18px;
    width: 90px;
    margin: 10px;
    margin-bottom: 0px;
    background-color: rgba(202, 202, 202, 0.50);
    border-radius: 10px;
    border: none;
    box-shadow: 0 2px 4px 0px rgba(0, 0, 0, 0.25);
    color: #313131;
    cursor: pointer;
}

.modal input {
    font-size: 18px;
    margin: 10px 0px;
    border-radius: 10px;
    border: none;
    box-shadow: 0 2px 4px 0px rgba(0, 0, 0, 0.25);
    color: #313131;
    width: 100px;
    text-align: center;
    margin: 5px 3px
}

.modal input[type=radio] {
    width: auto;
    box-shadow: none;
    margin: 5px
}

.modal label {
    width: 100px;
}

.modal > div > p {
    width: 55px;
    text-align: right;
}

.danger-button {
    background-color: rgba(255,0,0,0.50) !important;
}

.hide-modal {
    display: none !important;
}

.hour-group-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: flex-start;
    justify-content: center;
}

.hour-group-container > div{
    flex-grow: 1;
    margin: 0px 5px;
}

.wday-selector {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
    margin-top: 10px;
    margin-bottom: 5px;

    @media (min-width: 700px){
        padding: 0px 12px;
    }
}

.wday-selector button {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: none;
    background-color: #6B8CFF;
    color: white;
    font-weight: bolder;
    box-shadow: 0 2px 4px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    justify-content: center;

    @media (min-width: 700px){
        display: none;
    }
}

.wday-selector span{
    width: 85px;
    text-align: center;
    color: #313131;
}